<table>
    <tr class="header">
        <th></th>
        <th>Produkt</th>
        <th class="price">Preis</th>
    </tr>
    <tr class="product">
        <td class="image"><img src="assets/placeholder/product-image.webp" /></td>
        <td class="name">Cooler Computer</td>
        <td class="price">1999,99 EUR</td>
    </tr>
    <tr class="product">
        <td class="image"><img src="assets/placeholder/product-image.webp" /></td>
        <td class="name">Cooler Computer</td>
        <td class="price">1999,99 EUR</td>
    </tr>
    <tr class="product">
        <td class="image"><img src="assets/placeholder/product-image.webp" /></td>
        <td class="name">Cooler Computer</td>
        <td class="price">1999,99 EUR</td>
    </tr>
    <tr class="product">
        <td class="image"><img src="assets/placeholder/product-image.webp" /></td>
        <td class="name">Cooler Computer</td>
        <td class="price">1999,99 EUR</td>
    </tr>
    <tr class="footer">
        <td></td>
        <td></td>
        <td class="price">Gesamt: 7999,96 EUR</td>
    </tr>
</table>