<div class="wrapper">
    <div class="top-button right-buttons">
        <button nbButton ghost *ngIf="!isCartEmpty()">Warenkorb leeren</button>
        <button nbButton status="primary" routerLink="/">Weiter einkaufen</button>
    </div>
    <div *ngIf="isCartEmpty();else notEmpty">
        Der Warenkorb ist leer
    </div>
    <ng-template #notEmpty>
        <app-item-list [products]="cartProducts"></app-item-list>
        <app-contact-form *ngIf="cartProducts.length != 0"></app-contact-form>
        <div class="order-button right-buttons">
            <button nbButton status="primary">
                Kostenpflichtig bestellen
            </button>
        </div>
    </ng-template>
</div>