@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes/default";

$nb-themes: nb-register-theme((color-primary-100: #6dc485,
            color-primary-200: #5abc76,
            color-primary-300: #48b567,
            color-primary-400: #41a35d,
            color-primary-500: #3a9152,
            color-primary-600: #327f48,
            color-primary-700: #2b6d3e,
            color-primary-800: #245b34,
            color-primary-900: #1d4829,
            color-success-100: #e7fbd5,
            color-success-200: #caf8ab,
            color-success-300: #a2ec7e,
            color-success-400: #7ad95b,
            color-success-500: #45c12c,
            color-success-600: #2ca520,
            color-success-700: #178a16,
            color-success-800: #0e6f14,
            color-success-900: #085c14,
            color-info-100: #ceebfc,
            color-info-200: #9fd4fa,
            color-info-300: #6eb4f0,
            color-info-400: #4894e1,
            color-info-500: #1468ce,
            color-info-600: #0e50b1,
            color-info-700: #0a3b94,
            color-info-800: #062a77,
            color-info-900: #031d62,
            color-warning-100: #f8fac8,
            color-warning-200: #f1f593,
            color-warning-300: #dbe25b,
            color-warning-400: #bdc532,
            color-warning-500: #96a001,
            color-warning-600: #808900,
            color-warning-700: #6a7300,
            color-warning-800: #555c00,
            color-warning-900: #454c00,
            color-danger-100: #fce6cd,
            color-danger-200: #f9c89c,
            color-danger-300: #ed9f68,
            color-danger-400: #dc7642,
            color-danger-500: #c63f0d,
            color-danger-600: #aa2909,
            color-danger-700: #8e1806,
            color-danger-800: #720b04,
            color-danger-900: #5f0203,
            text-basic-color: #000000,

            border-radius: 0.5rem,
        ),
        light,
        default);