<div *ngIf="loading;else orderCart" [nbSpinner]="true" class="spinner"></div>

<ng-template #orderCart>
    <div class="wrapper">
        <app-item-list [products]="products" [nbSpinner]="loadingCart"></app-item-list>
        <div class="order-information">
            <div class="details">
                <h3>Bestelldetails</h3>
                <table>
                    <tr>
                        <td>Bestellnummer</td>
                        <td>{{order?.id}}</td>
                    </tr>
                    <tr *ngIf="!shipmentInitialized">

                    </tr>
                    <tr *ngIf="shipmentInitialized && !shipment">
                        <td>Versand</td>
                        <td>Fehler beim Übertragen der Details an den Versanddienstleister. Bitte melden Sie sich bei dem Support.</td>
                    </tr>
                    <tbody *ngIf="shipmentInitialized && shipment">
                        <tr>
                            <td>Versandverfolgung</td>
                            <td>{{shipment?.trackingNumber}}</td>
                        </tr>
                        <tr>
                            <td>Versandkosten</td>
                            <td>{{shipment?.price | price}}</td>
                        </tr>
                        <tr>
                            <td>Ausgeliefert</td>
                            <td>{{shipment?.fulfilled}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="contact">
                <h3>Kontaktinformationen</h3>
                <table>
                    <tr>
                        <td>E-Mail</td>
                        <td>hansschmitz@werbde.de</td>
                    </tr>
                    <tr>
                        <td>Adresse</td>
                        <td>
                            {{order?.street}} <br /> {{order?.zipcode}} {{order?.city}}, {{order?.country}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="payment">
                <h3>Zahlungsinformationen</h3>
                <table>
                    <tr>
                        <td>Kartennummer</td>
                        <td>{{order?.creditCardNumber}}</td>
                    </tr>
                    <tr>
                        <td>Ablaufdatum</td>
                        <td>{{ order?.creditCardExpiryDate | date: 'MMMM yyyy' }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</ng-template>