<div *ngIf="loading;else wrapper" [nbSpinner]="true" class="spinner"></div>
<ng-template #wrapper>
    <div class="product-wrapper">
        <div *ngIf="displayProducts">
            <app-product-card *ngFor="let product of showProducts" [product]="product"></app-product-card>
        </div>
        <div *ngIf="noProducts">
            Keine Produkte vorhanden
        </div>
        <div *ngIf="allProductsInCar">
            Alle Produkte bereits im Warenkorb
        </div>
    </div>
</ng-template>